.venv/
.venv_tfjs/
__pycache__/
*.pyc
.DS_Store
.idea/

node_modules/
web/node_modules/

dist/
web/dist/

data/raw/
data/degraded/
data/previews/
data/metadata/
data/splits/
data/my_test_photos/
data/my_photos_corrected/

artifacts/checkpoints/
artifacts/logs/
artifacts/reports/
app_ml/**/__pycache__/
artifacts/tf_models/